<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Democritus-Announcements</title>
    <!------------------ Bootstrap CSS ------------------>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!------------------ Bootstrap Bundle with Popper ------------------>
    <link rel="icon" href="images/DemBrowserIcon.png" type="image/x-icon">

    <!------------------ CSS ------------------>
    <style>
        body {
            padding-top: 70px;
        }

        section {
            padding: 30px 0;
        }

        .card {
            flex: 1;
            max-width: 300px;
        }
    </style>
</head>

<body>

    <!--- navbar --->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
        <a class="navbar-brand px-3 fs-4" href="index.html">
            <img src="images/DemIcon.png" alt="Democritus" width="40" height="40"> Democritus
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnav"
            aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainnav">
            <div class="navbar-nav fs-5">
                <a class="nav-item nav-link" href="/announcements">Ανακοινώσεις</a>
                <a class="nav-item nav-link" href="/login">Σύνδεση</a>
            </div>
        </div>
    </nav>

    <div class="dropdown justify">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            Φιλτράρισμα
        </button>
        <div class="dropdown-menu p-4" aria-labelledby="filterDropdown" style="min-width: 300px;">
            <div class="d-flex flex-column gap-3">
                <div>
                    <label for="filter-an-date-from" class="form-label">Φίλτρο ημερομηνίας δημοσίευσης:</label>
                    <div class="d-flex gap-2">
                        <input type="date" id="filter-an-date-from" class="form-control" style="flex: 1;">
                        <span>-</span>
                        <input type="date" id="filter-an-date-to" class="form-control" style="flex: 1;">
                    </div>
                </div>
                <div>
                    <label for="filter-exam-date-from" class="form-label">Φίλτρο ημερομηνίας εξέτασης:</label>
                    <div class="d-flex gap-2">
                        <input type="date" id="filter-exam-date-from" class="form-control" style="flex: 1;">
                        <span>-</span>
                        <input type="date" id="filter-exam-date-to" class="form-control" style="flex: 1;">
                    </div>
                </div>
                <div class="d-flex gap-2">
                    <button id="apply-filters" class="btn btn-primary">Εφαρμογή Φίλτρων</button>
                    <button id="clear-filters" class="btn btn-secondary">Καθαρισμός Φίλτρων</button>
                </div>
            </div>
        </div>
    </div>





    <section id="announcements-section" class="bg-white mt-2">
        <div class="container-lg">
            <div class="row g-4" id="announcements-container">
                <!-- Οι ανακοινώσεις θα φορτωθούν εδώ -->
            </div>
        </div>
    </section>
    
    <div class="d-flex align-items-center mt-2">
        <button id="load-more-button" class="btn btn-primary btn-sm my-3 ms-1" onclick="loadMoreAnnouncements()">
            Επόμενη Σελίδα
        </button>

        <button id="export-xml" class="btn btn-primary btn-sm my-3 ms-1">
        Εξαγωγή σε XML
        </button>

        <button id="export-json" class="btn btn-secondary btn-sm my-3 ms-1">
            Εξαγωγή σε JSON
        </button>
    </div>

    <script src="/javascript/announcements_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>